server {
    listen 80;
    listen 443 ssl;
    server_name SITENAME;
    
    return 301 $scheme://www.SITENAME$request_uri;
}

server {
    listen 80;
    listen 443 ssl;
    
    server_name www.SITENAME;

    access_log   /var/log/nginx/SITENAME.access.log;
    error_log    /var/log/nginx/SITENAME.error.log;

    root /var/www/SITENAME/html;
    index index.php index.html index.htm;

    include common/php.conf;
    include common/wpcommon.conf;
    include common/locations.conf;
}